{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %} 編輯套餐 {% endblock title %}

{% block content%}
<br/>
<div class="container-xl">
  <br/>
  <form method="post" enctype=multipart/form-data action={{ url_for('manager.edit') }}>
    <table class="table table-bordered">
      <tr>
        <th>套餐編號</th>
        <td><input class="form-control" type="text" value="{{ data.套餐編號 }}" name="plid" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>套餐名稱</th>
        <td><input class="form-control" type="text" value="{{ data.套餐名稱 }}" name="pname" required></td>
      </tr>
      <tr>
        <th>價格</th>
        <td><input class="form-control" type="text" value="{{ data.價格 }}" name="price" required></td>
      </tr>
      <tr>
        <th>開始日期</th>
        <td><input class="form-control" type="date" value="{{ data.開始日期 }}" name="startdate" required></td>
      </tr>
      <tr>
        <th>結束日期</th>
        <td><input class="form-control" type="date" value="{{ data.結束日期 }}" name="enddate" required></td>
      </tr>
      <tr>
        <th>套餐描述</th>
        <td>
          <textarea class="form-control" name="description">{{ data.套餐描述 }}</textarea>
        </td>
      </tr>
    </table>
    <center>
      <div class="option">
        <button class="btn btn-outline-success" type="submit">確定修改</button> 
        <a href="{{ url_for('manager.packageManager') }}"><button type="button" class="btn btn-outline-danger">回套餐管理</button></a>
      </div>
    </center>
  </form>
</div>
{% endblock content %}
