{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/order.css') }}">
{% endblock head %}

{% block title %}訂單確認{% endblock title %}

{% block content %}
<br/>
<div class="container-xl">
  <form method="post" action="{{ url_for('travel_packages.order') }}">
    <table class="table table-bordered order-table">
      <thead>
        <tr>
          <th><center>套餐編號</center></th>
          <th><center>套餐名稱</center></th>
          <th><center>開始日期</center></th>
          <th><center>結束日期</center></th>
          <th><center>價格</center></th>
          <th><center>數量</center></th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          <td><center>{{ item['套餐編號'] }}</center></td>
          <td><center>{{ item['套餐名稱'] }}</center></td>
          <td><center>{{ item['開始日期'] }}</center></td>
          <td><center>{{ item['結束日期'] }}</center></td>
          <td><center>{{ item['價格'] }} 元</center></td>
          <td><center>{{ item['數量'] }}</center></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="order-total">
      <b>訂單總價：{{ total }} 元</b>
    </div>

    <center>
      <div class="order-actions">
        <a href="{{ url_for('travel_packages.cart') }}" class="btn back-to-cart-btn">回購物車</a>
        <button class="btn submit-order-btn" type="submit" value="order" name="order">下訂單</button>
      </div>
    </center>
  </form>
</div>
{% endblock content %}
